<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html manifest="http://www.cpkbrowser.com/manifest.appcache" class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  		<title>CPK Browser - Mail System</title>
		<meta name="author" content="CPK Mail">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no"></meta>

		<!--<script src="/javascripts/jquery-1.11.0.min.js"></script>-->
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/jquery-ui.js"></script>

		<!-- signup js -->
		<script type="text/javascript" src="/javascripts/jquery.inputfocus-0.9.min.js"></script>
    	<script type="text/javascript" src="/javascripts/signup.js"></script>
        
        <!-- font awesome cdn -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        
        <!-- Latest compiled and minified JavaScript for bootstrap stuff -->
        <script src="/javascripts/scripts.min.js"></script>

        <!-- Kyle's JS code -->		
		<script src="/javascripts/jquery.simplemodal.js"></script>
		<script src="/javascripts/simplemodal-procs.js"></script>
		<script src="/javascripts/basic.js"></script>
				
		<!-- CSS Stylesheets -->
		<link rel="stylesheet" href="/stylesheets/overide.css?">
		
	</head>	
    <body>
		<div id="login-container">
			<div id="login" class="vhAlign-Center">
				<h1 class="login" style="margin-bottom: 30px;">Please Login</h1>
				<p style="text-align: center;">Username: <input id="in_usr" type="text"></input></p>
				<p style="text-align: center;">Password: <input id="in_pass" type="password"></input></p>
				<input type="button" value="OK" style="margin-left: 380px;" onclick="login();">
			</div>
		</div>   		
    </body>		
</html>
